
.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}
.actions {
  text-align: center;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }

}
